body.index_body{
  font-family: 'Josefin Sans';
}
div.index_head{
  background-color: #009E8E;
  color: #ffffff;
  padding: 50px;
  font-size: 40;
}
div.index_list{
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
}
div.index_itembox{
  padding: 20px;
  font-size: 20px;
  display: block;
  float: left;
  margin: 10px;

  background-color: #5dcfc3;
  padding: 10px;
  -webkit-border-radius: 15px;
}
div.index_itembox:hover{
  background-color: #00675c;
}
div.index_itembox:hover a.index_item{
  color: #ffffff;
}
a.index_item{
  color: rgba(27, 57, 122, 1);
  text-decoration: none;
}
