body.index_body{
  font-family: 'Josefin Sans';
  background-image: url(../image/v2-cb1db5fed86c7cbb9172f487cf9f709e_r.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  //background-size:100%;
  background-position: center;
  background-attachment: fixed;
}
div.index_head{
  //background-image: url(../IMG/9d6cd5930f48c5124dfcfbea2c8c2126_r.jpg);
  //background-repeat:no-repeat;
  //background-size:100% 100%;
  background-color: rgba(98, 122, 226, 0.19);
  color: white;
  padding: 50px;
  font-weight: bold;
  font-size: 40;
  -webkit-border-radius: 35px;
}
div.index_headCover{
  //background:rgba(255, 255, 255, 0.5);
  //width:80%;
  //height: 10%;
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-filter:blur(15px);
  -moz-filter:blur(15px);
  -o-filter:blur(15px);
  -ms-filter:blur(15px);
  filter:blur(15px);
  position:absolute;
  left:0;
  top:0;
}
div#displayDiv{
  border-radius: 35px;
  margin-left: 20%;
  margin-right: 20%;
}
div.index_list{
  list-style-type: none;
}
div.index_itembox{
  outline: none;
  padding: 30px;
  font-size: 30px;
  display: block;
  margin: 20px;
  background-color: rgba(170, 227, 221, 0.19);
  -webkit-border-radius: 15px;
}

div.index_itembox:hover{
  background-color: rgba(0, 103, 92, 0.50);
}
button.index_itemBtn{
  padding: 30px;
  font-size: 30px;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  background-color: rgba(170, 227, 221, 0.19);
  -webkit-border-radius: 15px;
  color: #ffffff;
}
div.index_itembox:hover a.index_item{
  color: #ffffff;
}
button.index_itemBtn:hover{
  color: #ffffff;
  color: white;
  text-decoration: none;
}
a.index_item{
  color: white;
  text-decoration: none;
}

button.backButton{
  display: block;
  border: none;
  outline: none;
  opacity: 0.7;
  color: rgb(58, 68, 133);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
button.backButton:hover{
  color:white;
  background-color: rgba(6, 31, 163, 0.77);
  -webkit-border-radius: 15px;
}
