body.index_body{
  font-family: 'Josefin Sans';
  background-image: url(../IMG/65621672__空と共に.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-attachment:fixed;
}
div.index_head{
  //background-image: url(../IMG/title.jpg);
  background-color: rgba(0, 158, 142, 0.54);
  color: #ffffff;
  padding: 50px;
  font-size: 40;
}
div.index_list{
  list-style-type: none;
  margin-left: 10%;
  margin-right: 10%;
}
div.index_itembox{
  padding: 30px;
  font-size: 30px;
  display: block;
  //float: left;
  margin: 20px;
  background-color: rgba(93, 207, 195, 0.70);
  -webkit-border-radius: 15px;
}
div.index_itembox:hover{
  background-color: rgba(0, 103, 92, 0.50);
}
div.index_itembox:hover a.index_item{
  color: #ffffff;
}
a.index_item{
  color: rgba(27, 57, 122, 1);
  text-decoration: none;
}

button#backToTop{
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  opacity: 0.7;
  color: whitergb(58, 68, 133);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
